<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/image/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by Robot from Mars!!</p>
            <img class="portrait" src="image/robot.png">
            <p>Created By: {{name}}</p>
        </div>
        {{>footer}}
    </body>
</html>